.header {
  background-color: #623131;
  height: 95px;
  padding-top: 10px;
  background-image: linear-gradient(to left right, #6e2b2e 65%, #8b4343);
  list-style: none;
}

.container {
  background-color: #fafafa;
  flex-direction: column;
}

.headerLogo {
  padding-bottom: 17px;
  height: 95px;
  width: 95px;
  list-style: none;
}





.blocopessoa{
 align-items: center;
}


.inputnome {
  margin-bottom: 15px;
}



.inputemail {
  margin-top: 15px;
  margin-bottom: 15px;
}

.inputconpass {
  margin-top: 15px;
}



.inputcpf {
  margin-bottom: 15px;
  
  
}

.inputdatanasc{
  margin-bottom: 15px;
}

.inputprofissao{
  margin-bottom: 15px;
}

.inputestadocivil{
  margin-bottom: 15px;
}

.inputnacionalidade{
  margin-bottom: 45px;
}





.blocoendereco{
  margin: -930px 0px 0px 500px;
}




.button {
  color: #6e2b2e;
  width: 120px;
  height: 55px;
  background-color: #d3b47a;
  font-family: "Roboto", sans-serif;
  margin: 120px 200px;
  font-weight: bold;
  border-radius: 20px;
  text-transform: uppercase;
  border: none;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 100px;
  transform: translate(530px, -165px);
}

.button:hover {
  background-color: #c9a35b;
  color: #6e2b2e;
}

.button:disabled:hover {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.h1 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  text-align: center;
  color: #c6a567;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: -90px;
}

.p {
  font-family: "Roboto", sans-serif;
  padding: 55px;
  font-weight: bold;
  margin-bottom: 40px;
}

.input {
  border-radius: 5px;
}

.inputselect{
  border-radius: 5px;
  width: 175px;
  height: 27px;
  font-family: "Roboto", sans-serif;
  
}

.input:focus {
  outline: none;
}

.formData {
  height: auto;
  max-height: 590px;
}

form {
  border: none;
  border-spacing: 0;
  margin: 0;
  height: auto;
  max-height: 590px;
}
