
.header{
     
background-color: #623131 ;
height: 95px;
padding-top: 10px;
background-image: linear-gradient(
    to left right,    
    #6E2B2E 65%,
      #8b4343 
);
list-style: none;
}

.container{
  
background-color: #fafafa;
flex-direction: column;

}


.headerLogo{

    padding-bottom: 17px;
    height: 95px;
    width: 95px;
    list-style: none;
}



.primeirobloco{

color:#6E2B2E;
padding-left: 45px;
font-family: 'Roboto', sans-serif;
margin: 20px;
outline: unset;


}

.inputnome{

    margin-bottom: 15px;
    
}


.segundobloco{

    color:#6E2B2E;
    border: none;
    font-family: 'Roboto', sans-serif;     
    padding-left: 35px;
    position: relative;
    left: 300px;
    bottom: 614px;
    border-left: 3px solid #185c34 ;
}

.inputemail{
    margin-top: 40px;
    margin-bottom: 15px;
}

.inputconpass{

    margin-top: 15px;
}


.terceirobloco{

    color:#6E2B2E;
    border: none;
    font-family: 'Roboto', sans-serif;      
    position: relative;
    padding-left: 35px;
    left: 600px;
    bottom: 714px;
    border-left: 3px solid #185c34;
}

.inputcpf{

    margin-bottom: 15px;
}



.inputendereco{

    margin-bottom: 15px;
    
}


.button{

color: #6E2B2E;
width: 120px;
height: 55px;
background-color: #d3b47a ;
font-family: 'Roboto', sans-serif;
margin: 120px 70px;
font-weight: bold;
border-radius: 20px;
text-transform: uppercase;
border: none;
transition-duration: 0.4s;
cursor: pointer;
margin-top: 100px;

}


.button:hover{

    background-color: #c9a35b; /* Green */
    color: #6E2B2E;

}

.h1{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;  
    text-align: center;
    color: #c6a567;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: -90px;
}

.p{

    font-family: 'Roboto', sans-serif;
    padding: 55px;
    font-weight: bold;
    margin-bottom: 40px;
  
}

.input{

    border-radius: 5px;
    
}

.input:focus{


outline: none;

}



