
.container{
  width: 100%; 
  height: 100vh;
  display: flex;
  flex-direction: row;
  
}

.container1{
  width: 50%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  
  
}

.container2{
  width: 50%;
  background-color: #74040c;  
  height: 80vh;
  align-items: center;
  
}

.container2 .backgroundlogin{

  display: block;
  width: 100%;
  height: 350px;
}

button{

  background-color: #b89451;
  border: none;
  color: #ffff;
  border-radius: 20px;
  text-transform: uppercase;
  width: 90px;
  height: 40px;
  margin-bottom: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  cursor: pointer;

  
}


.divbuttom{

  display: flex;
  margin: 0 auto;
    max-width: 200px;
    justify-content: space-between;
}

.input{

align-items: center;
margin: auto;
display: flex;
flex-direction: column;
width: 100%; 
height: 20vh;
justify-content: center;
margin-bottom: 1rem;
font-weight: bold;


}

.inputedit{

 border: 0;
border-bottom: 2px solid #b89451;
color : rgb(100,100,100);
padding: 5px;
width: 300px;
outline: none;

}

.inputedit:focus, .inputedit:valid {
  border-bottom: 2px solid #b89451;

}

.inputedit:focus ~ label ,
 .inputedit:valid ~ label{

  transform: translateY(-24px);
  font-size: 12px;
  color:#74040c ;
 }

.h2{
align-items: center;
margin: auto;
display: flex;
flex-direction: column;
width: 50%; 
height: 25vh;
justify-content: center;
text-transform: uppercase;

transform: translateY(50px);
font-size: 30px

}


.container1 .h2{
  font-family: "Gill Sans", sans-serif;
}

.container2 .h2 {

  width: 100%;
  color: #fff;
  font-family: "Roboto", sans-serif;

}




.cadastro{

  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
  
}

.cadastro a{
  text-decoration: none;
  color: inherit;
  font-size: 15px;
}

.cadastro a:hover{

    color:  #74040c;
}

.cadastro a:active {
  color: blue;
}


.navItem{
  display: flex;
  margin:  auto;
  align-items: center;
  flex-direction: column;

}


