.sidebar {
  background-color: #481c24;
  color: #fff;
  min-height: 100vh;
  width: 250px;
  position: fixed;
  top: 103.96px;
  left: 0;
}

.sidebarItem {
  padding: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  white-space: nowrap;

  &:hover {
    background-color: #7c4a57;
  }
}

.sidebarIcon {
  margin-right: 1rem;
}

.selected {
  background-color: #fff;
  color: #231f20;
}

.selected:hover {
  background-color: #fff;
  color: #231f20;
}
