.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  z-index: 999;
  min-height: 75px;
  font-size: 16px;
  justify-content: center;
  background-color: #623131;
  max-height: 80px;
}
.headerItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

.navItem {
  display: block;
  margin: auto;
  align-items: center;
  text-align: center;
  max-height: 80px;
  padding: 0 16px 0 16px;
}

.navLink {
  display: block;
  padding: 16px;
  text-decoration: none;
  color: #bcbcba
}

.headerLogo {
  display: block;
  width: 100%;
  max-height: 80px;
  width: auto;
}
.logoAstepi{
  display: block;
  width: 100%;
  max-height: 80px;
  width: auto;
  position: relative;
  left: 13cm;
  
}
.titulo{
  display: block;
  padding: 16px;
  text-decoration: none;
  color: #bcbcba;
  position: relative;
  text-align: center;
  font-size: x-large;
  left: 50px;
}