.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;

  .logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .logout-button {
    background-color: #fff;
    color: #333;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }
  }
}
